<!DOCTYPE html>
<html>
	<head>
		<title>Google Sheets + Nodejs Dashboard</title>
		<meta name="description" content="Google Sheets + Nodejs Dashboard" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="stylesheet" href="/jquery.gridster.min.css" />
	</head>
	<body>
		<header>
			<h4>
				Google Sheets + Nodejs Dashboard
			</h4>
		</header>
		<br />
		<main>
			<section id="charts"></section>
		</main>

		<script
			src="https://code.jquery.com/jquery-2.2.1.min.js"
			integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
			crossorigin="anonymous"
		></script>
		<script src="/jquery.gridster.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/client.js"></script>
	</body>
</html>
